@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=WDXL+Lubrifont+JP+N&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=WDXL+Lubrifont+JP+N&display=swap');
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.wdxl-lubrifont-jp-n-regular {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,*:before,*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
	background: #102825;
	font-size: 16px;
	color: white;
}
h2, h3{
	font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
	text-transform: uppercase;
	line-height: 2;
	letter-spacing: 4px;
	color: #74e8ae;
}
h2{
	font-size: 1.8rem;
}
h3{
	font-size: 1.4rem;
}
p{
	display: block;
	margin: 0 auto;
	padding: 0  1rem 1rem 1rem;
	font-size: 1.1rem;
	font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}
img{
	max-width: 45%;
}
svg{
	min-width: 200px;
}
tbody{
	display: block;
}
td{
	padding: 10px;
}
header{
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	background: #2e746b;
}
.header-flex{
	margin: 0 auto;
	width: 50%;
	min-width: 500px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.header-flex li{
	font-size: 1.4rem;
	cursor: pointer;
	color: white;
	list-style-type: none;
	text-transform: uppercase;
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header-flex li:hover{
	text-decoration: underline;
}
#logo{
	display: block;
	width: 100px;
	border-radius: 35px;
	animation: pulse-shadow 4s infinite;
}
/*@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  70% {
    box-shadow: 0 0 15px 10px white;
  }
  100% {
    box-shadow: 0 0 0 0 white;
  }
}*/
main{
	margin-top: 200px;
}
.container{
	width: 100%;
	max-width: 1440px;
	margin: 1.25rem auto;
}
.type-a{
	display: flex;
	align-items: center;
	padding: 0 40px;
}
.type-b{
	width: 100%;
	max-width: none;
	height: 300px;
	background: #4e9c75;
	display: flex;
	align-items: center;
	justify-content: center;
}
.type-b .box{
	width: 600px;
	background: #102825;
	border-radius: 20px;
}
.type-c{
	padding: 0 40px;
}
.support{
	width: 100%;
	padding: 2rem;
	max-width: none;
	background: #4e9c75;
	box-shadow: 
      inset 0 30px 45px 0px #102825, /* верхняя тень */
      inset 0 -30px 45px 0px #102825;
      
	box-shadow: 0 0 15px 5px #102825;

}
.support .flex{
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: #102825;
	border-radius: 20px;
}
.support .flex p{
	text-align: center;
	display: block;
	padding: 0;
}
.flex{
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text{
	display: block;
}
.key-word{
	color: #84ff56;
}
.slider{
	min-width: 400px;
	height: 400px;
	aspect-ratio: 1;
	border-radius: 20px;
	overflow: hidden;
	position: relative;	
}
.slide-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 300%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s ease;
}
.slide{
	height: 100%;
	aspect-ratio: 1;
}
#a-slider .first{
	background: url('img/Chlorella.jpg');
  background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#a-slider .second{
	background: url('img/Chlorella2.jpg');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#a-slider .third{
	background: url('img/Chlorella3.jpg');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#b-slider .first{
	background: url('img/green.png');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#b-slider .second{
	background: url('img/green2.jpg');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#b-slider .third{
	background: url('img/green3.jpg');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#c-slider .first{
	background: url('img/o2.jpg');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#c-slider .second{
	background: url('img/o3.jpg');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#c-slider .third{
	background: url('img/o4.jpg');
	background-size: cover; /* Вписывает изображение целиком */
  background-repeat: no-repeat;
  background-position: center; /* Выравнивание по центру */
}
#colb{
	width: 100px;
}
#Chlorella{
	width: 200px;
	height: 200px;
}
.tab{
	display: inline-block;
	width: 50px;
}
.type-a .second p{
	background: #102825;
	border-radius: 15px;
	border: 10px #45b2a4 solid;
	padding: 20px;
	color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 60%;
  box-shadow: 0 0 10px 10px black;
  box-shadow: inset 0 0 10px 10px black;
}
.btn-box{
	width: 270px;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.btn-box .btn{
	width: 80px;
	height: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px white solid;
	font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
}
.btn-box .btn:hover{
	color: #42aaff;
	text-shadow: #42aaff 1px 0 10px;
	border-bottom-color: #42aaff;
}
#partner-card{
	display: block;
	line-height: 1.2rem;
	font-size: 1rem;
	font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border: none;
  border-collapse: collapse;
}
@media (max-width: 1400px){

}
@media (max-width: 1200px){
	body{
		font-size: 1.1rem;
	}
}
@media (max-width: 1024px){
}
@media (max-width: 992px){
	#logo{
		width: 90px;
	}
	.header-flex li{
		font-size: 1.2rem;
	}
	.slider{
		min-width: 300px;
		height: 300px;
		aspect-ratio: 1;
	}
}
@media (max-width: 768px){
	body{
		font-size: 14rem;
	}
	svg{
		min-width: 120px;
	}
	.slider{
		min-width: 250px;
		height: 250px;
	}
	#Chlorella{
		width: 120px;
	}
	.type-a{
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
	.support .flex{
		width: 400px;
	}
	.support .flex p{
		padding: 1rem;
	}
	#logo{
		width: 80px;
		border-radius: 25px;
	}
}
@media (max-width: 650px){
	.type-c .flex{
		flex-wrap: wrap;
		justify-content: center;
	}
	.type-c .flex:nth-child(2) .slider{
		display: none;
	}
}
@media (max-width: 567px){
	body{
		font-size: 12px;
	}
	p{
		padding: .8rem;
	}
	.type-b .box{
		width: 400px;
	}
	.type-c .flex{
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#navigation{
		padding: 20px;
		font-size: 16px;
	}
	.flex{
		flex-wrap: wrap;
	}
	.support .flex{
		width: 300px;
	}
	#logo{
		width: 70px;
		border-radius: 20px;
	}
}
@media (max-width: 480px){
	body{
		font-size: 8px;
	}
	.container{
		padding: .6rem;
	}
	.type-b{
		padding: 2rem 0;
	}
	.support{
		padding: 2rem 0;
	}
	#logo{
		width: 65px;
	}
	#partner-card{
		font-size: .8rem;
	}
}
@media (max-width: 320px){
	#logo{
		width: 60px;
		border-radius: 15px;
	}
	.support .flex{
		width: 260px;
	}
}